* {
  box-sizing: border-box;
  margin: 0 0;
  font-family: "Founders Grotesque Regular", sans-serif;
}

.header1 {
  background-color: #202020;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 6em;
  position: fixed;
  z-index: 2;
}
.header1 a {
  height: 100%;
}
.header1 img {
  height: 100%;
}
.header1 .icone {
  display: flex;
  gap: 5em;
}
.header1 i {
  color: #F6F6F6;
  font-size: 30px;
  transition: 1s;
}
.header1 i:hover {
  color: gray;
}

h2 {
  font-size: 3rem;
  text-transform: uppercase;
  padding-bottom: 1em;
  font-family: "Founders Grotesque Regular", sans-serif;
  font-weight: 700;
}

#presentation {
  background-color: #D6D6D6;
  padding-top: 15em;
  display: flex;
  flex-direction: column;
}
#presentation .muse {
  display: flex;
  gap: 5em;
  color: black;
  padding-bottom: 5em;
  padding-inline: 10em;
}
#presentation .muse p {
  font-size: 1.2rem;
}
#presentation .muse img {
  height: 50%;
}

.article {
  background-color: #ededed;
  color: black;
  padding-inline: 10em;
  padding-bottom: 15em;
  padding-top: 5em;
}

.article h2 {
  font-size: 52px;
  text-transform: uppercase;
  padding-bottom: 3em;
  font-family: "Founders Grotesque Regular", sans-serif;
  font-weight: 700;
}

.contain {
  margin: 0 auto;
  width: 250px;
  height: 200px;
  position: relative;
  perspective: 1000px;
}

.gallery_container {
  position: relative;
}

.carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
  z-index: 0;
}

.item {
  display: block;
  position: absolute;
  background: #000;
  width: 250px;
  height: 200px;
  line-height: 200px;
  font-size: 5em;
  text-align: center;
  color: #fff;
  opacity: 0.95;
  border-radius: 10px;
}
.item a img {
  width: 200px;
  height: 200px;
}

.a {
  transform: rotateY(0deg) translateZ(250px);
  background: #ed1c24;
}

.b {
  transform: rotateY(60deg) translateZ(250px);
  background: #0072bc;
}

.c {
  transform: rotateY(120deg) translateZ(250px);
  background: #39b54a;
}

.d {
  transform: rotateY(180deg) translateZ(250px);
  background: #f26522;
}

.e {
  transform: rotateY(240deg) translateZ(250px);
  background: #630460;
}

.f {
  transform: rotateY(300deg) translateZ(250px);
  background: #8c6239;
}

#next, #prev {
  color: rgb(37, 37, 37);
  display: flex;
  justify-content: space-between;
  position: absolute;
  padding: 1em 2em;
  cursor: pointer;
  font-size: 60px;
  transition: box-shadow 0.1s, top 0.1s;
  top: 50%;
  transform: translateY(-50%);
}

#next:hover, #prev:hover {
  color: #000;
}

#next {
  right: 0;
}

#prev {
  left: 0;
}

.media {
  background-color: #F6F6F6;
  padding-inline: 10em;
  display: flex;
  gap: 2em;
  padding-block: 7em;
  padding-bottom: 5em;
}
.media p {
  font-size: 1.2rem;
}
.media video {
  background-color: #202020;
  height: 500px;
  width: 500px;
}
.media .txt {
  display: flex;
  flex-direction: column;
}

footer {
  position: absolute;
  background: #202020;
  color: #F6F6F6;
  width: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 1px -4px 5px rgba(26, 26, 26, 0.67);
}
footer .container {
  display: flex;
  color: white;
  text-decoration: none;
  gap: 8em;
  padding-inline: 15em;
  padding-block: 8em;
  justify-content: center;
}
footer :where(.pages, .musee, .reseaux, .propos) {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
footer h1 {
  font-size: 3rem;
  text-transform: uppercase;
  padding-bottom: 0.5em;
}
footer a {
  color: #F6F6F6;
  text-decoration: none;
  transition: 1s;
  font-size: 16px;
}
footer a:hover {
  color: #D6D6D6;
}
footer .copyright {
  display: flex;
  font-size: 20px;
  color: #F6F6F6;
  background-color: rgba(0, 0, 0, 0.475);
  align-items: center;
  justify-content: center;
  padding: 2em;
}

.header2 {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #202020;
}
.header2 img {
  height: 100%;
}
.header2 a {
  height: 100%;
}

#contain2 {
  background-color: #202020;
  padding-inline: 40em;
  padding-block: 5em;
  display: flex;
  flex-direction: column;
  gap: 10em;
}
#contain2 h3 {
  color: white;
  font-size: 3rem;
  padding-block: 1rem;
}
#contain2 input:not(.insere) {
  color: #F6F6F6;
  background-color: transparent;
  width: 100%;
  border-bottom: 2px solid #F6F6F6;
  border-radius: 5px;
  font-size: 24px;
  outline: none;
  border-inline: none;
  border-top: none;
}
#contain2 .button {
  display: flex;
  align-items: center;
  justify-content: center;
}
#contain2 button {
  font-size: 1.2rem;
  color: white;
  width: 30%;
  height: 60px;
  background-color: rgb(32, 92, 92);
  border: 0;
  border-radius: 10px;
  transition: 0.5s;
}
#contain2 button:hover {
  background-color: white;
  color: #202020;
}

.reg {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.7em;
  padding-bottom: 1em;
}
.reg span {
  color: white;
}
.reg a {
  text-decoration: none;
  color: rgb(32, 92, 92);
  transition: 0.5s;
}
.reg a:hover {
  color: white;
}

.log {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.7em;
  padding-bottom: 1em;
}
.log span {
  color: white;
}
.log a {
  text-decoration: none;
  color: rgb(32, 92, 92);
  transition: 0.5s;
}

.log a:hover {
  color: white;
}

.upload {
  color: white;
}

.upload .but {
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload input {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(32, 92, 92);
  border: 0;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
}

.salle__oeuvres {
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
}
.salle__oeuvres .oeuvre {
  display: flex;
  flex-direction: column;
  font-family: "Founders Grotesque Regular", sans-serif;
  padding: 1rem;
}
.salle__oeuvres .oeuvre a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.salle__oeuvres .oeuvre h2 {
  padding-bottom: 0;
  text-decoration: none;
  color: #202020;
  font-size: 2rem;
}
.salle__oeuvres .oeuvre div {
  display: flex;
  justify-content: center;
  padding-inline: 2rem;
  font-size: 3rem;
}
.salle__oeuvres .oeuvre div a {
  padding-inline: 2rem;
  color: #329292;
}

.description {
  background-color: #F6F6F6;
  padding-inline: 10em;
  display: flex;
  gap: 2em;
  padding-block: 7em;
  padding-bottom: 5em;
}
.description p {
  font-size: 1.2rem;
}
.description video {
  background-color: #202020;
  height: 500px;
  width: 500px;
}
.description .txt {
  display: flex;
  flex-direction: column;
}

#cont {
  font-family: "Founders Grotesque Regular", sans-serif;
  padding-top: 12em;
  background-color: #202020;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}
#cont .contai {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 15em;
}
#cont .contai .oeuvre img {
  object-fit: contain;
  height: 100%;
}
#cont .contai .nom h3 {
  color: white;
  font-size: 42px;
  padding-bottom: 1.5em;
}
#cont .contai h4 {
  color: white;
  font-size: 38px;
}
#cont .formulaire form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5em;
  padding-bottom: 5em;
}
#cont .formulaire form .comment input {
  margin-block: 1rem;
}
#cont .formulaire button {
  font-size: 18px;
  color: white;
  width: 100%;
  height: 60px;
  padding: 0.5em;
  background-color: rgb(32, 92, 92);
  border: 0;
  border-radius: 10px;
  transition: 0.5s;
}

.formulaire button:hover {
  background-color: white;
  color: #202020;
}

.allCom {
  width: 40%;
  margin-block: 1rem;
}
.allCom .commentaire {
  border-bottom: #D6D6D6 1px solid;
  padding: 1rem;
}
.allCom .commentaire .user h3 {
  padding-bottom: 1rem;
  color: red;
}

#cont input {
  color: white;
  background-color: transparent;
  width: 100%;
  border-bottom: 2px solid white;
  border-radius: 5px;
  font-size: 24px;
  outline: none;
  border-right: none;
}

.right {
  width: 45%;
}

.left {
  padding-left: 1.2rem;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.desc span {
  font-size: 28px;
}

.desc p {
  font-size: 16px;
}

.like {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  color: white;
  font-size: 18px;
}

.like i {
  font-size: 30px;
  color: #F6F6F6;
}

.like i:hover {
  color: gray;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #202020;
  color: #F6F6F6;
}
.error div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.error div a {
  font-family: "Founders Grotesque Regular", sans-serif;
  font-size: 2rem;
  background: #F6F6F6;
  border-radius: 10px;
  padding: 1rem;
  color: #202020;
  transition: 0.2s;
  text-decoration: none;
}
.error div a:hover {
  transform: scale(0.9);
}
.error div img {
  position: absolute;
  height: 50%;
  bottom: 0;
}
.error h1 {
  font-size: 5rem;
}

/*# sourceMappingURL=style.css.map */
